/.gradle
/local.properties
/build

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/modules.xml
!.idea/vcs.xml
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
